
:root {
    --interactive-elements-color: #2196F3;
    --main-title-color: #212121;
    --second-title-color: #757575;
    --third-title-color: #FFFFFF;
    --font-style: normal;
    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

